/*  
Skin Name: Default - igoogle.com
Skin URI: http://dev.clearskys.net/
Description: The default MyDashboard skin - based on igoogle.com.
Version: 1.0
Author: Barry at clearskys.net
Author URI: http://www.clearskys.net/
*/

.mybox,.mybox_e{
	background-color:#fff;
	border:none;
	display:block;
	zoom:1;
	margin: 0 0 15px;
}

div.myboxedit form.myboxeditform input {
	display: block;	
	margin-bottom: 5px;
}
div.myboxedit form.myboxeditform select {
	display: block;	
	margin-bottom: 5px;
}

form.myboxeditform {
	margin-top: 5px;
	margin-bottom: 15px;
}

div.myboxinner ul {
	margin: 0;
	font-size: 0.95em;
	padding: 0 0 0 5px;
	list-style-type: disc;
}
div.myboxinner ul li{
	margin: 0 0 0 15px;
	font-size: 0.95em;
	padding: 0;
	list-style-type: disc;
	list-style-position: outside;
}
div.myboxinner ul.rssfeed li {
	margin-bottom: 10px;
}

h2.mytitle a {
	border: none;	
}

.mytitle_text a {
	text-decoration: underline;
}





.mytitle,.mytitle_s{
	background-color:#e5ecf9;
	border:1px #c5d7ef solid;
	border-top:1px #7aa5d6 solid;
	border-bottom:none;
	padding:2px 5px 2px 5px;
	font: bold 110% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin:0;
	cursor: move;
}

.mytitle .mytitle_text {
}

.mytitle .delbox, .mytitle .minbox, .mytitle .editbox {
	float: right;
	margin-right: 5px;
	margin-top: 1px;
	width: 14px;
	height: 14px;
	overflow: hidden;
}
.mytitle .delbox {
	background: url(images/close.png) no-repeat center center;
}
.mytitle .minbox {
	background: url(images/hide.png) no-repeat center center;
}
.mytitle .editbox {
	background: url(images/edit.png) no-repeat center center;
}

.myboxinner,.myboxinner_s{
	overflow:hidden;
	border:1px #c5d7ef solid;
	margin:0;
	font-size: 0.95em;
	padding: 5px 10px 10px;
}

.myboxinner p {
	padding: 0;
	font-size: 0.9em;
}

div.myboxedit {
	margin: 0;
	border:1px #c5d7ef solid;
	font-size: 0.95em;
	background: #feffc8;
	border-bottom-style: none;
	padding: 2px 10px;
	display: none;
}

.mydashpage {
	border-top: 1px solid #97a5b0;
}

.sortHelper
{
	border: 2px dashed #999;
	width: auto !important;
}

#mydashcontainer div.adminlinks {
	float: right;
}

#mydashcontainer div.topbar {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#mydashcontainer div.topbar div.loadingbox {
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	background: url(images/loading.gif) no-repeat;
	display: none;
}

#addgadgets {
	border: none;
	text-decoration: none;
}
#addgadgets:hover {
	text-decoration: underline;
}
a.feedlinkicon {
	float: left;
	width: 14px;
	height: 14px;
	background: url(images/feed-icon-14x14.png) no-repeat;
	margin-top: 2px;
	margin-right: 5px;
	text-decoration: none;
}
